<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <title> Añadí tu super!</title>
</head>

<body>

    <header>
        <p class="inicio"> Descuentos 20%</p>
        <p class="titulo"> Nombre tienda</p>
        <div class="enlaces"> 
            <a class="enlaces-" href="views/contacto.html" target="blank"> Contacto </a>
            <a class="enlaces-" href="views/registro.html" target="blank"> Registrarse </a>
            <a class="enlaces-" href="views/login.html" target="blank"> Ingresar </a>
        </div>
    </header>

    <main>

        <section class="hojaañadir"> 

            <p class="pañadir" > Añadí tu super! </p>
            <p class="pañadir1"> Agregá tu personaje favorito completando la opciones</p>

            <div class="subtitulo"> 

                <p> <label  for="nombre"> Nombre </label> </p>

                <p> <label for="nombre">Especie </label> </p>

            </div >

            <div class="formulario">

                <input type="text" name="nombre" id="nombre" required class="casilla"> 
    
                <select name="especie" class="casilla">  
    
                    <option name="especie"
                    value="especie"  placeholder="especie" disabled selected> Especie </option>
    
                    <option name="especie" value="ukn" > Unknown </option> 

                </select>
            </div>

            <div class="subtitulo"> 

                <p> <label  for="fecha"> Fecha </label> </p>

                <p> <label for="foto"> Agregar foto </label> </p>

            </div >

            <div class="formulario">

                <input type="date" name="fecha" id="fecha" required class="casilla"> 

                <input type="file" name="foto" id="foto" required class="casillaf"> 


            </div>    
    


                



            </article>





        </section>

    </main>

    <footer> 
        <span> Todos los derechos reservados a FRONT END 1 </span>
    </footer> 
    


</body>
</html>