<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header>
        <p class="dcto"> 20% Descuentos en todos los productos de la tienda!</p>
        <div > 
            <img src="../img/Group.svg">
        <p class="titulo"> Nombre tienda</p>
        </div>
        
    </header>
    
    <main>
        <div>
            <p class="titular"> Login </p>
        <form class="form1">
            <input type="email" name="email" placeholder="Usuario">
            <input type="password" name="password" placeholder="Contraseña">
            <button class="entrar" > Entrar</button>
        
            <div class="mensaje"> 
                <a href="registro.html" target="blank" > ¿No tienes una cuenta?  </a> 
            <span> Regístrarme</span>
            </div>
            
        
        </form>
        </div>

    </main>

    <footer> 
        <span> Todos los derechos reservados a FRONT END 1 </span>
    </footer>
</body>
</html>