<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <title> Registro </title>
</head>
<body>
    
    <header>
        <p class="dcto"> 20% Descuentos en todos los productos de la tienda!</p>
        <div > 
            <img src="../img/Group.svg">
        <p class="titulo"> Nombre tienda</p>
        </div>
        
    </header>

    <main>
        <div>
            <p class="titular"> Registro </p>

        <form class="form1">

            <input type="text" name="Nombre" placeholder="Nombre y Apellido"> 

            <input type="email" name="email" placeholder="Correo electrónico">

            <input type="password" name="password" placeholder="Contraseña">

            <select name="país" placeholder="País" class="opciones"> 
                <option name="país" value="arg" > Argentina </option>
                <option name="país" value="CO"> Colombia </option>
                <option name="país" value="br"> Brasil </option>
            </select>
    
            <button class="entrar" > Entrar</button>

            <div class="mensaje"> 
                
            <span> ¿Tenés ya una cuenta?  </span>
            <a href="login.html" target="blank" > Ingresá  </a>
            </div>

        </form>
        </div>

    </main>

    <footer> 
        <span> Todos los derechos reservados a FRONT END 1 </span>
    </footer>


</body>
</html>